/* CSS Document */
<!--
body,td,th {
	font-family: Courier New, Courier, mono;
	font-size: small;
	color: #333333;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.OLtext
{
	font-size: 11px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}
.Podvaltext
{
	font-size: 11px;
	color: #666666;
	margin: 0px;
	padding: 0px;
}
p {
margin:0 0 10pt;
}
.norepeat
{
	background-repeat: no-repeat;
}
.lrBlockText {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	color: #666666;
	font-weight: normal;
	font-size: 85%;
}
.lrFormaText {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #666666;
	font-weight: normal;
	font-size: 12px;
}
.graypoint
{
	background-repeat: repeat-y;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Courier New, Courier, mono;
	margin:0 0 10pt;
}
h1 {
	font-size: xx-large;
	color: #666666;
}
h2 {
	font-size: x-large;
	color: #666666;
}
h3 {
	font-size: large;
	color: #666666;
}
a:link {
	text-decoration: none;
}
.link {
	text-decoration: none;
	color: #663399;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
-->
